@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lily+Script+One&display=swap');

.div3{
    background-color: #7C57B8;
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center; 
    
    .login{
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        .informaçoes{
            background-color: #fff;
            height: 85dvh;
            width: 70dvh;
            border-top-left-radius: 4dvh;
            border-bottom-left-radius: 4dvh;
            box-shadow: 0 8px 150px rgba(0, 26, 255, 0.3);
            h1{
                font-size: 8dvh;
                text-align: center;
                margin-top: 3dvh;
                font-family: "Inter", sans-serif;
                font-weight: 600;
                color: #5c5c5c;
            }
            .inp{
                display: flex;
                flex-direction: column;
                align-items:center;
                margin-top: 6dvh;
                gap: 5dvh;
                .in1{
                    display: flex;
                    align-items: center;
                    position: relative;                   
                    img {
                        height: 6.8dvh;
                        width:6.8dvh;
                        position: absolute;     
                        top: 50%; 
                        transform: translateY(-50%); 
                        border-radius: 10dvh;
                        
                    }              
                    input {
                        width: 46dvh;
                        height: 5dvh;
                        border-radius: 5dvh;
                        border: none;
                        box-shadow: 0 8px 13px rgba(0, 26, 255, 0.3);
                        padding-left: 6dvh; 
                        font-family: "Inter", sans-serif;
                        font-weight: 800;
                        font-size: 2dvh;
                        outline: none;
                    }            
                }
                .in2{
                    display: flex;
                    align-items: center;
                    position: relative;                   
                    img {
                        height: 3.5dvh;
                        width:3.5dvh;
                        position: absolute;     
                        top: 50%; 
                        transform: translateY(-50%); 
                        border-radius: 10dvh;
                        margin-left: 0.9dvh;
                    }              
                    input {
                        width: 46dvh;
                        height: 5dvh;
                        border-radius: 5dvh;
                        border: none;
                        box-shadow: 0 8px 13px rgba(0, 26, 255, 0.3);
                        padding-left: 6dvh; 
                        font-family: "Inter", sans-serif;
                        font-weight: 800;
                        font-size: 2dvh;
                        outline: none;
                    }            
                }
                .in3 {
                    display: flex;
                    align-items: center;
                    position: relative;                   
                    img {
                        height: 3.3dvh;
                        width: 3.3dvh;
                        position: absolute; 
                        left: 4.2px; 
                        top: 50%; 
                        transform: translateY(-50%); 
                        margin-left: 0.6dvh;
                    }              
                    input {
                        width: 46dvh;
                        height: 5dvh;
                        border-radius: 5dvh;
                        border: none;
                        box-shadow: 0 8px 13px rgba(0, 26, 255, 0.3);
                        padding-left: 6dvh; 
                        font-family: "Inter", sans-serif;
                        font-weight: 800;
                        font-size: 2dvh;
                        outline: none;
                    }
                }
                
                .in4{
                    display: flex;
                    align-items: center;
                    position: relative;                   
                    img {
                        height: 6dvh;
                        width:6dvh;
                        position: absolute;     
                        top: 50%; 
                        transform: translateY(-50%); 
                        border-radius: 10dvh;
                        
                    }              
                    input {
                        width: 46dvh;
                        height: 5dvh;
                        border-radius: 5dvh;
                        border: none;
                        box-shadow: 0 8px 13px rgba(0, 26, 255, 0.3);
                        padding-left: 6dvh; 
                        font-family: "Inter", sans-serif;
                        font-weight: 800;
                        font-size: 2dvh;
                        outline: none;
                    }            
                }
            }
                
                
            }
            .botao{
                display: flex;
                justify-content: center;
                margin-top: 7dvh;
                gap: 5dvh;
                .b1{
                    height: 5dvh;
                    width: 21dvh;
                    border-radius: 7dvh;
                    background: linear-gradient(55deg, #6f07cf 35%, #a010b3,);
                    border: none;
                    color: #fff;
                    font-size: 3dvh;
                    box-shadow: 0 8px 15px rgba(0, 26, 255, 0.3);
                    font-family: "Inter", sans-serif;
                    font-weight: 600;
                    transition: transform 1s ease;
                }
                .b1:hover {
                    transform: scale(1.09); 
                }
            }
        }
        .bem-vinda{
            background: linear-gradient(55deg, #6f07cf 35%, #a010b3,);
            height: 85dvh;
            width: 47dvh;
            border-top-right-radius: 4dvh;
            border-bottom-right-radius: 4dvh;
            box-shadow: 0 8px 150px rgba(0, 26, 255, 0.3);
            
            .h1{
                color: #fff;
                font-size: 6dvh;
                margin-top: 26dvh;
                text-align: center;
                font-family: "Lily Script One", system-ui;
                font-weight: 400;
            }
            .h2{
                color: #fff;
                opacity: 0.7;
                font-size: 4.6dvh;
                width: 33dvh;
                margin-left: 8dvh;
                margin-top: 3dvh;
                font-family: "Lily Script One", system-ui;
                font-weight: 400;
            }
        }
    }
