@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rufina:wght@400;700&display=swap');

.div {
    background-color: #7C57B8;
    width: 100%;
    height: 100%;
    position: relative; 
    display: flex;
    flex-direction: column
    
    ;

    .header {
        width: 67%;
        height: 9dvh;
        background: linear-gradient(55deg, #6f07cf 35%, #a010b3);
        position: relative; 
        top: 6dvh; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        display: flex;
        align-items: center; 
        justify-content: space-between;
        border-radius: 40px;
        gap: 5dvh;
        box-shadow: 0 8px 13px rgba(0, 0, 0, 0.3);
        
        .lene{
            max-width: 100%;
            height: 7.8dvh;
            width: 7.8dvh;
            border-radius: 100px;
            margin-left: 5dvh;
        }
        .perfil{
            max-width: 100%;
            height: auto; 
            height: 7.8dvh;
            width: 7.8dvh;
            border-radius: 500px;
            margin-right: 5dvh;
        }
        a{
            font-size: 2.9dvh;
            color: rgb(255, 255, 255);
            text-decoration: none;
            position: relative;
            display: inline-block;
            font-family: "Libre Franklin", sans-serif;
            font-weight: 200;
            font-style: normal;
        }
        a::after{
            content: " ";
            width: 0%;
            height: 3.5px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: 0.5s ease-in-out;
        }
        a:hover::after{
            width: 100% ;
        }
    }
    .vitin-do-capa {
        position: relative; 
        top: 11.8%;
        
        .img2 {
            width: 100%; 
            height: 75dvh;
            opacity: 0.72;  
            position: relative;  
            margin-top: 5dvh;
        }
        
        .botao {
            position: absolute; 
            right: 40dvh; 
            bottom: 70px; 
            z-index: 2;
            
            h1 {
                color: #BF21F6;
                font-size: 9dvh;
                width: 1px;
                display: flex;
                text-align: center;
                justify-content: center;
                z-index: 3; 
                margin-bottom: 7dvh; 
                font-family: "Rufina", serif;
                font-weight: 400;
                font-style: normal;
                margin-left: 15dvh;
            }
            
            button {
                background: linear-gradient(45deg, #6f07cf 35%, #a010b3);
                padding: 18px 24px;
                font-size: 4.5dvh;
                color: #fff;
                border: none;
                border-radius: 1dvh;
                box-shadow: 0 8px 13px rgba(0, 0, 0, 0.3);
                margin-bottom: 15dvh;
                font-family: "Rufina", serif;
                font-weight: 400;
                margin-right: 6dvh;
            }
            
            @keyframes anima {
                0% {
                    transform: scale(1);    
                }
                100% {
                    transform: scale(1.06);
                }
            }
            
            button:hover {
                animation-name: anima;
                animation-duration: 0.5s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }
    }
    .sobre {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
        h1 {
            color: #fff;
            text-align: center;
            font-size: 8dvh;
            width: 60dvh;
            margin-top: 8dvh;
            border-bottom: 2px solid #fff; 
            padding-bottom: 3dvh;
            font-family: "Beau Rivage", cursive;
            font-weight: 400;
            font-style: normal;
        }
        .cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 8dvh;
            .card1{
                display: flex;
                flex-direction: row;
                gap: 17dvh;
                background-color: #7451ad ;
                height: 46dvh;
                width: 180dvh;
                display: flex;
                align-items: center;
                border-radius: 5dvh;
                box-shadow: 0 2px 20px 2px rgba(82, 82, 82, 0.75);
                margin-bottom: 6dvh;
                img{
                    width: 50dvh;
                    height: 35dvh;
                    border-radius: 7dvh;
                    margin-left: 29dvh;
                    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
                    transition: transform 1s ease;
                }
                img:hover {
                    transform: scale(1.1); 
                }
                .p{               
                    p{
                        color: #fff;
                        font-size: 3.4dvh;
                        width: 65dvh;
                        margin-bottom: 2dvh;
                        font-family: "Poppins", sans-serif;
                        font-weight: 300;
                        font-style: normal;
                    }
                }
            }
            .card2{
                display: flex;
                flex-direction: row;
                gap: 17dvh;
                background-color: #7451ad ;
                height: 46dvh;
                width: 180dvh;
                display: flex;
                align-items: center;
                border-radius: 5dvh;
                box-shadow: 0 2px 20px 2px rgba(82, 82, 82, 0.75);
                margin-bottom: 6dvh;
                img{
                    width: 50dvh;
                    height: 35dvh;
                    border-radius: 7dvh;
                    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
                    transition: transform 1s ease;
                }
                img:hover {
                    transform: scale(1.1); 
                }
                .p{
                    p{
                        color: #fff;
                        font-size: 3.4dvh;
                        width: 70dvh;
                        margin-bottom: 2dvh;
                        margin-left: 29dvh;
                        font-family: "Poppins", sans-serif;
                        font-weight: 300;
                        font-style: normal;
                    }
                }
               
            }
        }
    }
    .seviços{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1{
            color: #fff;
            font-size: 10dvh;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(70deg, #6f07cf 35%, #a010b3);
            height: 12dvh;
            width: 53dvh;
            border-radius: 1.5dvh;
            margin-bottom: 14dvh;
            margin-top: 8dvh;
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
            font-family: "Rufina", serif;
            font-weight: 400;
            font-style: normal  
        }
        .servicoCard{
            background-color: #7451ad ;
            border-radius: 5dvh;
            box-shadow: 0 2px 20px 2px rgba(82, 82, 82, 0.75);
            height: 90dvh;
            width: 160dvh;
            margin-bottom: 5dvh;
            .imgCortes{
                display: flex;
                flex-direction: row;
                gap: 12dvh;
                align-items: center;
                justify-content: center;
                margin-top: 10dvh;
 
              .img1{
                text-align: center;
                img{
                    height: 42dvh;
                    width: 39dvh;
                    border-radius: 1dvh;
                    transition: transform 1s ease;
                    
                }
                img:hover {
                    transform: scale(1.1); 
                }
                p{
                    color: #fff;
                    font-size: 3.8dvh;
                    width: 40dvh;
                    margin-top: 4dvh;
                    font-family: "Roboto", serif;
                    font-weight: 300;
                    font-style: normal
                    
                }
              }
              .img2{
                text-align: center;
                margin-bottom:3.8dvh;
                
                img{
                height: 42dvh;
                width: 39dvh;
                border-radius: 1dvh;
                transition: transform 1s ease;
              }
              img:hover {
                transform: scale(1.1); 
            }
              p{   
                color: #fff;
                font-size: 3.8dvh;
                font-family: "Roboto", serif;
                font-weight: 300;
                font-style: normal;
                margin-top: 4dvh;
            }
              }
              .img3{
                text-align: center;
                margin-bottom: 3.8dvh;
                img{
                height: 42dvh;
                width: 39dvh;
                border-radius: 1dvh;
                transition: transform 1s ease;
                }
                img:hover {
                    transform: scale(1.1); 
                }
                p{
                    color: #fff;
                    font-size: 3.8dvh;
                    font-family: "Roboto", serif;
                    font-weight: 300;
                    font-style: normal;
                    margin-top: 4dvh;
                }
              }
            }
            button{
                padding: 2.3dvh 6.5dvh 2.3dvh 6.5dvh;
                border-radius: 2.6dvh;
                font-size: 3.5dvh;
                color: #7C57B8;
                border: none; 
                margin: auto; 
                display: block;
                margin-top: 5dvh;
                font-family: "Poppins", serif;
                font-weight: bold;
                font-style: normal
                
            }
            @keyframes anima {
                0% {
                    transform: scale(1);    
                }
                100% {
                    transform: scale(1.06);
                }
            }
            
            button:hover {
                animation-name: anima;
                animation-duration: 0.5s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }
    }
    .contato{
        margin-top: 5dvh;
        background-color: #fff;
        h1{
            height: 19dvh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 8dvh;
            color: #635874;
            font-family: "Poppins", serif;
            font-weight: 300;
            font-style: normal
        }
        .fuboca{
            display: flex;
            flex-direction: row;
            margin-top: 7dvh;
            gap: 10dvh;
            
            .informacoes{
                margin-left: 46dvh;
                .visita{
                    margin-top: 0.6dvh;
                    color: #635874;
                    font-size: 3dvh;
                    width: 50dvh;
                    font-family: "Roboto", serif;
                    font-weight: bold;
                    font-style: normal
                }
                .local{
                    color: #635874;
                    font-size: 1.7dvh;
                    width: 30dvh;
                    margin-top: 4dvh;
                    font-family: "Roboto", serif;
                    font-weight: bold;
                    font-style: normal
                }
                .tel{
                    display: flex;
                    flex-direction: row;
                    font-size: 2.3dvh;
                    margin-top: 5.5dvh;
                    gap: 1.4dvh;
                    .p1{
                        color: #7C57B8;
                        font-weight: 800;
                        font-family: "Roboto", serif;
                        font-weight: bold;
                        font-style: normal
                    }
                    .p2{
                       color: #635874;
                       font-family: "Roboto", serif;
                        font-weight: 400;
                        font-style: normal
                    }
                }
                .hora{
                    display: flex;
                    flex-direction: row;
                    font-size: 2.3dvh;
                    margin-top: 2dvh;
                    gap: 1.4dvh;
                    .p1{
                        color: #7C57B8;
                        font-weight: 800;
                        font-family: "Roboto", serif;
                        font-weight: bold;
                        font-style: normal
                    }
                    .p2{
                        color: #635874;
                        font-family: "Roboto", serif;
                        font-weight: 400;
                        font-style: normal
                    }
                }
                .hora2{
                    display: flex;
                    flex-direction: row;
                    font-size: 2.3dvh;
                    margin-top: 2dvh;
                    gap: 1.4dvh;
                    margin-bottom: 9dvh;
                    .p1{
                        color: #7C57B8;
                        font-weight: 800;
                        font-family: "Roboto", serif;
                        font-weight: bold;
                        font-style: normal
                    }
                    .p2{
                        color: #635874;
                        font-family: "Roboto", serif;
                        font-weight: 400;
                        font-style: normal
                    }
                }
            }
            .mensagem{
                .h2{
                    h2{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 5dvh;
                    color: #635874;
                    font-family: "Roboto", serif;
                    font-weight: 200;
                    font-style: normal
                     }
                }
                .inputs{ 
                    margin-left: 3dvh;
                    
                .nomeEmail{
                    margin-top: 4dvh;
                    
                    .in1 {
                        padding: 1dvh 3dvh;
                        margin-right: 3.5dvh;
                        border: 2px solid #635874; 
                        color: #635874; 
                        outline: none;
                        font-size: 1.7dvh;
                        font-family: "Poppins", serif;
                        font-weight: 800;
                        font-style: normal
                    }
                    .in1::placeholder {
                        color: #635874;
                        font-weight: 800;
                    }
                    
                    .in2{
                        padding: 1dvh 3dvh;
                        margin-right: 6dvh;                      
                        border: 2px solid #635874; 
                        color: #635874; 
                        outline: none;
                        font-size: 1.7dvh;
                        font-family: "Poppins", serif;
                        font-weight: 800;
                        font-style: normal
                    }
                    .in2::placeholder {
                        color: #635874; 
                        font-weight: 800;
                    }
                    input:hover {
                        border: 4px solid #635874; 
                    }
                }
                .in3 {
                    width: 68.2dvh; 
                    height: 22dvh;
                    padding: 2dvh 2dvh;
                    margin-top: 2dvh;
                    border: 2px solid #635874; 
                    color: #635874; 
                    outline: none;
                    font-size: 1.6dvh;
                    font-family: "Roboto", serif;
                    font-weight: 300;
                    font-style: normal;
                    resize: none;
                    box-sizing: border-box; 
                }
                
                .in3::placeholder {
                    color: #635874; 
                    font-weight: 800;
                    font-size: 1.5dvh;
                    margin-top: 4dvh;
                }
                .in3:hover {
                    border: 5px solid #635874; 
                }
            }
            button{             
                padding: 1.1dvh 30.7dvh;
                margin: 2dvh 0dvh 10dvh 3dvh;
                background-color: #635874;
                border: none;
                color: #fff;
                font-size: 2dvh;
                font-family: "Poppins", serif;
                font-weight: bold;
                font-style: normal;
                transition: background-color 0.3s ease, color 0.3s ease;
            }
            button:hover {
                background-color: #fff;
                color: #635874;
            }
            }
        }
        
    }
    
}



/*@media (max-width: 1200px) {
    .header {
        width: 90%;
        height: 12vh;
        flex-direction: column;
    }
    .header a {
        font-size: 2.5vh;
    }
    .botao h1 {
        font-size: 8vh;
    }
}

@media (max-width: 992px) {
    .vitin-do-capa .img2 {
        height: 60vh;
    }
    .sobre h1 {
        font-size: 7vh;
    }
    .cards {
        flex-direction: column;
    }
    .servicoCard {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    .header .lene, .header .perfil {
        height: 5vh;
        width: 5vh;
    }
    .botao h1 {
        font-size: 6vh;
    }
    button {
        font-size: 2.5vh;
    }
}

@media (max-width: 480px) {
    .header a {
        font-size: 2vh;
    }
    .contato h1 {
        font-size: 6vh;
    }
    .informacoes .visita, .informacoes .local {
        font-size: 2.5vh;
    }
    .inputs .in1, .inputs .in2, .inputs .in3 {
        font-size: 1.5vh;
    }
    button {
        font-size: 2vh;
    }
}*/

